#skill-accordion {
    width: 100%;
    max-width: 992px;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);  /* This maintains the default border color */
}

.accordion {
    padding: 0;
}

#skill-spider-chart > *{
    max-width: 270px;
}

@media (min-width: 480px){
    #skill-spider-chart > *{
        max-width: 330px;
    }
}


@media (min-width: 576px){
    #skill-spider-chart > *{
        max-width: 400px;
    }
}


@media (min-width: 768px){
    #skill-spider-chart > *{
        max-width: 100%;
    }
}