.icon-primary {
    color: var(--color-highlight);
    font-size: 2rem;
    vertical-align: -0.125em;
    display: flex;
    padding-right: 0.5rem;
}

.contact-details {
    & h3 {
        margin-top: 0;
    }
}

#send-email-btn a {
    width: 500px;
}

