.footer-wrapper {
    background-color: var(--color-muted-background);
    border-top: solid 1px var(--color-muted-element);

}

.footer-title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 6px;
}

.footer-text {
    font-size: 10px;
    text-align: justify;
    line-height: 1.7;
}

.footer-column {
    max-width: 515px;
}

.footer-copyright {
    font-size: 9px;
    color: var(--color-muted-element);
}

.footer-language-switch img {
    max-width: 12px;
}

.footer-language-switch p {
    margin: 0;
}

.footer-language-switch {
    font-size: 9px;
    gap: 7px;
    align-items: center;
    margin-bottom: 25px;
}

.social-icons img {
    min-height: 20px;
    /*padding-right: 40px;*/
    transition: opacity 0.3s ease;
}
.social-icons {
    padding: 40px 0;
    gap: 40px
}

.footer-link {
    color: inherit;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}
