.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.main-container {
  max-width: min(1440px, 100vw);
  padding: 0 2rem;
}