:root {
  --header-height: 3.5rem;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: var(--header-height);
}

.content-section-spacer {
  margin-top: 75px;
}

.content-section-inter-spacer {
  margin-top: 45px;
}

.centered-content-container {
  max-width: 992px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  max-width: min(1440px, 100vw);
  padding: 0 2rem;
  margin: 0 auto;
}

.std-btn {
  border-radius: 10px;
  background-color: var(--color-highlight);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
}

.muted-btn {
  background-color: white;
  border: none;
  color: var(--color-highlight);
}

@media (max-width: 992px) {
  :root {
    --header-height: 4rem;
  }
}

@media (max-width: 576px) {
  .main-container {
    padding: 0 1.75rem;
  }
}